{% if this.theme.service_slider %}
<div id="slide3" class="splide" aria-label="Slide Container Example">
    <div class="splide__track">
        <ul class="splide__list mx-auto">
            {% for item in this.theme.service_slider %}
            <li class="splide__slide">

               
                  
                    <div class="d-flex justify-content-center ">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ item.Picture|media }}" class="card-img-top photo-imag" alt="{{ item.Title }}">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ item.Title }}</h5>
                                <p class="card-text text-center">{{ item.description|raw }}</p>
                            </div>
                        </div>
                    </div>
                 
        

            </li>
            {% endfor %}
        </ul>
    </div>
</div>

</div>
</div>
{% else %}
<div class="container">
    <div class="row mx-auto">

        <div class="col-md-4 col-12 mb-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="{{ 'assets/images/random1.jpg'|theme }}" class="card-img-top" alt="1">
                <div class="card-body">
                    <h5 class="card-title">hello</h5>
                    <p class="card-text text-center">this section is customized in theme/setting :)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-12 mb-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="{{ 'assets/images/random4.jpg'|theme }}" class="card-img-top" alt="1">
                <div class="card-body">
                    <h5 class="card-title">hello</h5>
                    <p class="card-text text-center">this section is customized in theme/setting :)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-12 mb-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="{{ 'assets/images/random3.jpg'|theme }}" class="card-img-top" alt="1">
                <div class="card-body">
                    <h5 class="card-title">hello</h5>
                    <p class="card-text text-center">this section is customized in theme/setting :)</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endif %}