<div class="container">
  <div class="w-50 mx-auto text-center">
    <p class="fs-1"> Contact US</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil illo quaerat expedita dolores maiores sit quam
      provident laborum neque delectus. Ad magni quidem consequuntur fuga, soluta quos cum perferendis beatae.</p>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 d-flex flex-column text-center">
      <div>
        <i class="bi bi-geo-alt-fill"></i>
        <p class="fw-bold">address</p>
        <p class="text-muted">bagara no se</p>
      </div>
      <div>
        <i class="bi bi-envelope-fill"></i>
        <p class="fw-bold">mail</p>
        <p class="text-muted">example@gmail.com</p>
      </div>
      <div>
        <i class="bi bi-telephone-fill"></i>
        <p class="fw-bold">Phone</p>
        <p class="text-muted">+56 45967832</p>
      </div>

    </div>
    <div id="formSpace" class="col-12 col-sm-8 ">
      {% component 'contactForm' %}
    </div>
   
  </div>
</div>