<footer class="bg-dark mx-auto">

<iframe class="bg-dark opacity-75" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3748.586431489548!2d-75.82113448540186!3d20.02586502663186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ece5befefd20a7d%3A0x404b100132db4f88!2sMuseo%20de%20Historia%2026%20de%20Julio!5e0!3m2!1ses!2scu!4v1658932340232!5m2!1ses!2scu" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     <p class="text-center text-white py-3">CopyRight &copy; {{"now"|date("Y")}} {{this.theme.site_name}} All Rights Reserved</p>

</footer>