<div id="slide2" class="splide" aria-label="Slide Container Example">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="splide__slide__container">
                    <div class="w-50 mx-auto pb-4">
                        <p class="text-center"><i class="bi bi-quote fs-1"></i>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, rerum quisquam. Architecto,
                            quaerat! In veniam voluptatibus reiciendis neque corporis nisi maiores incidunt ipsum?
                            Assumenda laborum debitis officia autem aperiam ut!</p>
                        <div class="text-center">
                            <img id="free-imag" src="{{ 'assets/images/cara.png'|theme }}"
                                class="rounded-circle free-imag" alt="cara">

                                <p class="fw-bold">Willian Jordan</p>
                                <p class="text-muted">Developer</p>
                        </div>
                    </div>
                </div>

            </li>
            <li class="splide__slide">
                <div class="splide__slide__container">
                    <div class="w-50 mx-auto pb-4">
                        <p class="text-center"><i class="bi bi-quote fs-1"></i>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, rerum quisquam. Architecto,
                            quaerat! In veniam voluptatibus reiciendis neque corporis nisi maiores incidunt ipsum?
                            Assumenda laborum debitis officia autem aperiam ut!</p>
                        <div class="text-center">
                            <img id="free-imag" src="{{ 'assets/images/cara1.jpg'|theme }}"
                                class="rounded-circle free-imag" alt="cara">

                                <p class="fw-bold">Willian Jordan</p>
                                <p class="text-muted">Developer</p>
                        </div>
                    </div>
                </div>

            </li>
            <li class="splide__slide">
                <div class="splide__slide__container">
                    <div class="w-50 mx-auto pb-4">
                        <p class="text-center"><i class="bi bi-quote fs-1"></i>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, rerum quisquam. Architecto,
                            quaerat! In veniam voluptatibus reiciendis neque corporis nisi maiores incidunt ipsum?
                            Assumenda laborum debitis officia autem aperiam ut!</p>
                        <div class="text-center">
                            <img id="free-imag" src="{{ 'assets/images/cara3.jpg'|theme }}"
                                class="rounded-circle free-imag" alt="cara">

                                <p class="fw-bold">Willian Jordan</p>
                                <p class="text-muted">Developer</p>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>