==
<nav class="navbar navbar-expand-md navbar-light bg-light opacity-75 p-0 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand p-0" href="#home">
            <p class="fw-bold text-uppercase fs-2">{{ this.theme.logo_text }}</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0">
                <li class="nav-item px-2">
                    <a class="nav-link text-end " href="#home" data-scroll-spy="">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-end " href="#skills" data-scroll-spy="">About</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-end  " href="#service" data-scroll-spy="">Service</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-end  " href="#Freelancer" data-scroll-spy="">Work</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-end  " href="#Resume" data-scroll-spy="">Resume</a>
                </li>

                <li class="nav-item px-2">
                    <a class="nav-link text-end  " href="#contact" data-scroll-spy="">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>

</script>