<div class="container mb-4">
    <div class="row text-center">
        <div class="col-12 col-md-3 shadow-lg pe-2 mb-2 ">
            <i class="bi bi-emoji-smile fs-1 fw-bold"></i>
            <p>352</p>
            <p>happy clients</p>
        </div>
        <div class="col-12 col-md-3  shadow-lg pe-2 mb-2">
            <i class="bi bi-briefcase-fill fs-1 fw-bold"></i>
            <p>541</p>
            <p>Succesul Projects</p>
        </div>
        <div class="col-12 col-md-3 shadow-lg pe-2 mb-2">
            <i class="bi bi-award fs-1 fw-bold"></i>
            <p>32</p>
            <p>Awards Received</p>
        </div>
        <div class="col-12 col-md-3 shadow-lg mb-2 ">
            <i class="bi bi-person-square fs-1 fw-bold"></i>
            <p>258</p>
            <p>Team Menber</p>
        </div>
    </div>
</div>