 <div class="row">
        <div class="d-none d-md-block col-md-6"><img class="bg-imag" src="{{'assets/images/men.png'|theme}}" alt="men"></div>
        <div class="col-12 d-md-none text-center"><img src="{{'assets/images/men2.png'|theme}}" alt="men"></div>
        <div class="col-12 col-md-6">
            <p class="fs-4">My name is Abdur Rahman</p>
            <p class="fw-bold fs-2">I'm Profesional web Developer having Year of Experience.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum temporibus atque aliquid dolore labore
                aliquam excepturi dolor perferendis quos, saepe, optio corporis magni accusamus repudiandae dignissimos!
                Voluptatibus distinctio nemo in!</p>
            <table style="width: 50%;">
                <tr>
                    <td>
                        <p class="fw-bold"> Full Name</p>
                    </td>
                    <td>
                        <p class="fw-bold">:</p>
                    </td>
                    <td>
                        <p class="text-muted"> Mr Abdul Rahman</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="fw-bold"> Age</p>
                    </td>
                    <td>
                        <p class="fw-bold">:</p>
                    </td>
                    <td>
                        <p class="text-muted"> 18</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="fw-bold"> Address</p>
                    </td>
                    <td>
                        <p class="fw-bold">:</p>
                    </td>
                    <td>
                        <p class="text-muted"> Shreveport, LA 711</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="fw-bold"> Phone Number</p>
                    </td>
                    <td>
                        <p class="fw-bold">:</p>
                    </td>
                    <td>
                        <p class="text-muted">+0025463117</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="fw-bold"> Email</p>
                    </td>
                    <td>
                        <p class="fw-bold">:</p>
                    </td>
                    <td>
                        <p class="text-muted"> @example.com</p>
                    </td>
                </tr>

            </table>
            <div class="d-flex flex-row ">
                <a class="btn btn-dark mx-3 rounded-pill btn-outline-light" href="#" role="button">Contact Us</a>
                <a class="btn btn-light mx-3 rounded-pill btn-outline-dark" href="#" role="button">+00 123-123-1556</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 pb-2">
            <p>wordpress</p>
            <div class="progress bg-dark">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                    aria-valuemin="0" aria-valuemax="100"><div class="progress-value text-wite bg-dark"> 95% </div></div>
            </div>
        </div>
        <div class="col-12 col-md-6 pb-2">
            <p>Photoshop</p>
            <div class="progress bg-dark">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                    aria-valuemin="0" aria-valuemax="100"><div class="progress-value text-wite bg-dark"> 90% </div></div>
            </div>
        </div>
        <div class="col-12 col-md-6 pb-2">
            <p>Web Design</p>
            <div class="progress bg-dark">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"><div class="progress-value text-wite bg-dark"> 75% </div></div>
            </div>
        </div>
        <div class="col-12 col-md-6 pb-2">
            <p>HTML5</p>
            <div class="progress bg-dark">
                <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98"
                    aria-valuemin="0" aria-valuemax="100"><div class="progress-value text-wite bg-dark"> 98% </div></div>
            </div>
        </div>
        
    </div>
